.background-img {
    position: relative;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-position {
    text-align: center;
}


#footer ul li {
    text-decoration: underline;
    transition: color .5s ease-in-out;
    cursor: pointer;
}

#footer ul li:hover {
    color: rgb(85, 85, 250);
}

.pad {
    padding-inline: .75rem;
}
.ul-gap{
    gap: 0.5rem;
}
@media only screen and (width<=600px) {
    .wrap {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:1024px) {
    .ul-gap{
        gap: 0.75rem;
    }
    .pad {
        padding-inline: 2rem;
    }

    .text-position {
        text-align: inherit;
    }
}